:root {
    /* Fonts */
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;

    /* Colors */
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --slate: #434455;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --white: #FFFFFF;

    /* Container configurations */
    --container-width: 1128px;
    --container-side-padding: 15px;
}

/* Body */
body {
    background-color: var(--white);
    color: var(--slate);
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    /* To remove default bottom gap of 4px */
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    cursor: pointer;
    letter-spacing: 0.64px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    /* use 100% of the page id the width is smaller then max width */
    width: 100%;
    /* content width + 15px for each side (left and right) */
    max-width: calc(var(--container-width) + var(--container-side-padding) * 2);
    padding: 0 var(--container-side-padding);
    /* Center content inside the container */
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    color: var(--navyblue);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------------------ Header ------------------------ */

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--cornflower);
}

.header-container {
    display: flex;
    align-items: center;
}

/* Menu */
.menu {
    display: flex;
    /* Make menu navigation to take the most of the space */
    flex-grow: 1;
    gap: 76px;
    align-items: center;
}

/* Logo */
.logo {
    color: var(--iris);
    text-transform: uppercase;
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.54px;
    line-height: 1.17;
    margin-right: 76px
}

.logo-studio {
    color: var(--navyblue);
}

/* Menu items */
.menu-items {
    display: flex;
    gap: 40px;
}

.menu-item {
    color: var(--navyblue);
    font-weight: 500;
    padding: 24px 0;
}

/* Address */
.address {
    font-style: normal;
}

.address-items {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-item {
    color: var(--slate);
}

.menu-item:is(:hover, :focus),
.address-item:is(:hover, :focus) {
    color: var(--ocean);
}

/* ------------------------ Order Service Section ------------------------ */

.order-service {
    background-color: var(--navyblue);
    padding-top: 188px;
    padding-bottom: 188px;
}

.order-service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.order-service-title {
    color: var(--white);
    font-size: 56px;
    font-weight: 500;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
}

/* Order Service button */
.order-service-button {
    background-color: var(--iris);
    color: var(--white);
    font-weight: 500;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
}

.order-service-button::is(:hover, :focus) {
    background-color: var(--ocean);
}

/* ------------------------ Features Section ------------------------ */

.features {}

.features-container {}

.features-items {
    display: flex;
    gap: 24px;
}

.item-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--navyblue);
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-item {
    /* (container_total_width / combined_gap_between_all_items) / all_items_count */
    width: calc((100% - 24px * 3) / 4);
}

/* ------------------------ Services Section ------------------------ */

.services {}

.services-container {}

.services-items {
    display: flex;
    gap: 24px;
}

.services-item {
    /* (container_total_width / combined_gap_between_all_items) / all_items_count */
    width: calc((100% - 24px * 2) / 3);
}

/* ------------------------ Our Team Section ------------------------ */

.team {
    background-color: var(--cloud);
}

.team-container {}

.team-items {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.team-member {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    /* (container_total_width / combined_gap_between_all_items) / all_items_count */
    width: calc((100% - 24px * 3) / 4);
}

.team-member-container {
    text-align: center;
    padding: 32px 16px;
}

/* !------------------------ Protfolio Page ------------------------ */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-buttons {
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.filter-button {
    background-color: var(--cloud);
    color: var(--iris);
    font-weight: 500;
    border: 1px solid var(--cornflower);
    padding: 12px 24px;
    border-radius: 4px;
}

.filter-button:is(:hover, :focus) {
    color: var(--white);
    background-color: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent;
}

.portfolio-items {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-item {
    /* (container_total_width / combined_gap_between_all_items) / all_items_count */
    width: calc((100% - 24px * 2) / 3);
}

.protfolio-card-info {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.portfolio .item-description {
    color: var(--slate);
}

/* ------------------------ Footer ------------------------ */

.footer {
    background-color: var(--navyblue);
    color: var(--cloud);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .logo-studio {
    color: var(--cloud);
}

.footer-description {
    width: 264px;
}