:root {
    /* Fonts */
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;

    /* Colors */
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --slate: #434455;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --white: #FFFFFF;
}

/* Body */
body {
    background-color: var(--white);
    color: var(--slate);
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

/* All links */
.link {
    text-decoration: none;
}

/* All lists */
.list {
    list-style: none;
}

button {
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    cursor: pointer;
    letter-spacing: 0.64px;
}

/* Header */

/* Logo */
.logo {
    color: var(--iris);
    text-transform: uppercase;
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.54px;
    line-height: 1.17;
}

.logo-studio {
    color: var(--navyblue);
}

/* Menu */
.menu-item {
    color: var(--navyblue);
    font-weight: 500;
}

/* Address */
address {
    font-style: normal;
}

.address-item {
    color: var(--slate);
}

.menu-item:hover,
.address-item:hover,
/* .menu-item:active,
.address-item:active, */
.menu-item:focus,
.address-item:focus {
    color: var(--ocean);
}

/* Main */

/* Order Service Section */

.order-service {
    background: var(--navyblue);
}

.order-service h1 {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}

/* Order Service button */
.order-service-button {
    background-color: var(--iris);
    color: var(--white);
}

.order-service-button:active,
.order-service-button:hover {
    background-color: var(--ocean);
}


/* Features Section */


h2 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 1.11;
    color: var(--navyblue);
    /* Maybe not yet needed */
    text-align: center;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: var(--navyblue);
}

/* Protfolio Page */

.portfolio-filter button {
    background-color: var(--cloud);
    color: var(--iris);
    font-weight: 500;
    border: 1px solid var(--cornflower);
}

.portfolio-filter button:active,
.portfolio-filter button:hover {
    color: var(--white, #FFF);
    background: var(--ocean);
}

.portfolio-content {}

/* Footer */

footer {
    background-color: var(--navyblue);
    color: var(--cloud);
}

footer #logo {
    color: var(--cloud);
}